@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prototipo para la Evaluacion de Candidatos</h1>
    <p>La evaluacion consiste en el desarrollo de la funcionalidad "<span class="text-danger">Performance Comercial</span>" (Comercial -> Performance Comercial).</p>
</div>
