@using System.Globalization
@using TestSystem.Core.DTOs
@model List<ProfitDTO>

@{
    Layout = null;
}


<div class="Row">
    <div class="col-12">
        <canvas id="barChart" style="max-height:300px"></canvas>
    </div>
</div>
